*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3CCF3;

}

#main{
    height: 60vh;
    width: 40vw;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    padding:  0 10vw;
    align-items: center;
    border-radius: 1rem;
    background-color: #E9A8F2;
    padding:1rem;
    
}

input{
    height: 3rem;
    width: 30vw;
    border-radius: 0.6rem;
    font-size: 1rem;
}
#line{
    height: 1px;
    width: 100%;
    margin: 2rem 0;
    border: 0.05rem solid rgb(65, 63, 63);

}
.buttons{
    width: 15vw;
    
}
.buttons:hover{
    scale: 1.01;
    box-shadow: 0 0 1rem 0 rgb(63, 62, 62);
}
#msg{
    color: rgb(222, 76, 76);
    font-size: 1.2rem;
    font-weight: 300;
    display: none;
}
.ri-eye-line{
    position: absolute;
    top:38vh;
    left: 63vw;
}
#heading{
    font-size: 2.5rem;
    font-weight: 400;
    color: rgb(28, 27, 27);
}
#sign-in{
    background-color: rgb(102, 102, 227);
}
#sign-in-as-visitor{
    background-color: rgb(142, 240, 142);
}
#create-account{
    background-color: black;
    color: white;
}
#forget-password{
    background-color: black;
    color: white;
    
}