<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CreateAccount.css">
</head>
<body>
    <div id="main">
        <h2>Create Account</h2>
        <div id="name">
            <input type="text" id="first-name" class="names" placeholder="first name">
            <input type="text" id="last-name" class="names" placeholder="last name">
        </div>
        <input type="text" id="email" placeholder="email or phone">
        <input type="date">
        <input type="text" id="select-password" placeholder="Select Password">
        <input type="password" id="confirm-password" placeholder="Confirm Password">

        <div id="msg"></div>

        <input type="button" class="buttons" value="Register">
    </div>
    <script src="createAccount.js"></script>
</body>
</html>