<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mainPage.css">
</head>
<body>
    <div id="main">
        <div id="nav">
            <div id="nav-left">
                <h4 id="title">Instagram</h4>
                <a href="#">Home</a>
                <a href="#">Contact us</a>
                <a href="#">Setting</a>
                <a href="#">Sign Out</a>
            </div>
            <div id="nav-right">
                <div id="userName">Hi,Simran</div>
            </div>
        </div>

        <div id="main-content">
            <div id="chat-heads">
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Simran</div>
                </div>
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Harshit</div>
                </div>
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Nisha</div>
                </div>
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Muskan</div>
                </div>
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Devyanshi</div>
                </div>
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Ashutosh</div>
                </div>
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Vikash</div>
                </div>
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Jaushan</div>
                </div>
                <div id="chat-box">
                    <div id="chat-image"></div>
                    <div id="chat-name">Juhi Didi</div>
                </div>
            </div>
            <div id="massage-body">
                <div id="massage-history">
                    <div id="massage-left" class="massages">Hii</div>
                    <div id="massage-left" class="massages">How are you?</div>
                    <div id="massage-right" class="massages">Hello😊</div>
                    <div id="massage-right" class="massages">I am good👍.</div>
                    <div id="massage-right" class="massages">What about you?</div>
                    <div id="massage-left" class="massages">I am also good.</div>
                </div>
                
                <div id="send-massage">
                    <input type="text" id="massage-text" placeholder="Type Here...">
                    <input type="button" id="send-button" value="Send">
                </div>
            </div>
        </div>

        <footer>
            <h3>&#169; Copyright by Simran</h3>
        </footer>

    </div>

    <script src="mainPage.js"></script>
</body>
</html>